version: '3' #this version depends on docker engine installed

services:

  trello-backend:
    container_name: trello-backend
    image: trello-backend:latest
    build: ./backend
    ports:
      - '8082:8082'
    networks:
      - test123

  trello-front:
    container_name: trello-front
    image: trello-front:latest
    build: ./front
    depends_on: 
      - trello-backend
    ports:
      - '8080:8080'
    networks:
      - test123

networks:
  test123:
    driver: bridge
